.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: _misc(z-index-base) * 5;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  flex-direction: column;
  align-items: center;

  &.active {
    display: flex;
  }

  .modal-content {
    margin: auto;
    padding: 2rem 0;
  }
}