.projects {
  @include vendor('display', 'flex');
  @include vendor('flex-wrap', 'wrap');
  @include vendor('justify-content', 'center');
  width: calc(100% + #{_size(element-margin)});
  margin: 0 0 _size(element-margin) (_size(element-margin) * -1);
  padding: 0;
  list-style: none;
}