.projects {
  @include vendor('display', 'flex');
  @include vendor('flex-wrap', 'wrap');
  @include vendor('justify-content', 'center');
  width: calc(100% + #{_size(element-margin)});
  margin: 0 0 _size(element-margin) (_size(element-margin) * -1);
  padding: 0;
  list-style: none;

  .project {
    width: calc(#{(100% / 2)} - #{_size(element-margin)});
    margin-left: _size(element-margin);
    margin-top: (_size(element-margin));
    padding: 0;
    
    border: 2px solid _palette(invert, border2-bg);
    border-radius: 1rem;

    header {
      width: 100%;
      height: 14rem;
      border-radius: inherit;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      .image {
        border-radius: inherit;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
      }
    }

    h2 {
      max-width: 95%;
      margin-bottom: 0.16em;
      margin-left: auto;
      margin-right: auto;
    }
  }
}