.scroll-top{
  position: fixed;
  top: 5vw;
  right: 5vw;
  visibility: hidden; 
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
  z-index: 1;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
  background-color: _palette(invert, bg);
  color: _palette(invert, fg) !important;

  &.visible{
    visibility: visible;
    transition: visibility 0s linear 0ms, opacity 300ms;
    opacity: 1;
  }

  &:hover {
    background-color: _palette(invert, bg);
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
  }
}