

.languages {
  @include vendor('display', 'flex');
  @include vendor('flex-wrap', 'wrap');
  @include vendor('justify-content', 'center');
  width: calc(100% + #{_size(element-margin)});
  margin: 0 0 _size(element-margin) (_size(element-margin) * -1);
  padding: 0;
  list-style: none;
  
  li {
    width: calc(#{(100% / 6)} - #{_size(element-margin)});
    margin-left: _size(element-margin);
    margin-top: (_size(element-margin));
    padding: 0;
    
    border: double 2px transparent;
    border-radius: 1rem;
    @include vendor('background-image', 'linear-gradient(white, white), linear-gradient(90deg, #{_palette(accent1)}, #{_palette(accent3)}, #{_palette(accent5)})');
    background-origin: border-box;
    background-clip: content-box, border-box;

    h3 {
      font-size: 1.2rem;
      max-width: 95%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @include breakpoint(large) {
    li {
      width: calc(#{(100% / 5)} - #{_size(element-margin)});
    }
  }
  @include breakpoint(medium) {
    li {
      width: calc(#{(100% / 3)} - #{_size(element-margin)});
    }
  }
  @include breakpoint(small) {
    li {
      width: calc(#{(100% / 2)} - #{_size(element-margin)});
    }
  }
}